<mat-form-field appearance="outline" class="w-full mb-4">
 <mat-label>{{label}}</mat-label>
 <input [formControl]="control" type ={{type}} placeholder="{{label}}" matInput/>
 @if(control.hasError('required')){
  <mat-error>{{label}} is required</mat-error>
 }

 @if(control.hasError('email')){
   <mat-error>Email is invalid</mat-error>
 }

 @if(control.hasError('password')){
   <mat-error>Password is should be at least 9 characters long</mat-error>
 }

 @if(control.hasError('confirm password')){
   <mat-error>confirmPassword doesn't match the normal password</mat-error>
 }
</mat-form-field>