<header class="bottom-0 shadow-md p-3 w-full max-h-20 fixed top-0 z-50 bg-white">
<div class="flex align-middle items-center
 justify-between max-w-screen-sxl mx-auto ">
<img routerLink="/" src="/images/logo.png" class="max-h-16" alt="shop logo">
<nav class="flex gap-3 my-2 capitalize text-xl">
<a routerLink="/" 
routerLinkActive="active"
[routerLinkActiveOptions]="{exact:true}"
>Home</a>
<a routerLink="/shop"
routerLinkActive="active"
>shop</a>
<a>Contact</a>
<a>our product</a>
<a></a>
</nav>
<div class="flex gap-3 align-middle">
<a routerLink="/cart"
 routerLinkActive="active"
  matBadge="{{cartService.itemCount()}}" 
  matBadgeSize="large"
   class="custom-badge mt-2 mr-2">
 <mat-icon>shopping_cart</mat-icon>
</a>
@if(accountService.currentUser()){
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>arrow_drop_down</mat-icon>
    <span>Welcom,{{accountService.currentUser()?.lastName}}</span>
  </button>
} @else {
  <button routerLink="account/register" mat-stroked-button>Register</button>
  <button routerLink="account/login" mat-stroked-button>Login</button>
}

</div>
</div>
</header>

@if (busyService.loading) {
  <mat-progress-bar mode="buffer" class="fixed top-20 z-50"></mat-progress-bar> 
}


<!--  -->
<mat-menu #menu="matMenu" class="px-6">
<button mat-menu-item class="px-3" routerLink="/cart">
  <mat-icon>shopping_cart</mat-icon>
  My cart
</button>

<button mat-menu-item class="px-3" routerLink="/order">
  <mat-icon>history</mat-icon>
  my orders
</button>
<mat-divider></mat-divider>
<button mat-menu-item class="px-3" (click)="logout()">
  <mat-icon>logout</mat-icon>
  Sign out
</button>
</mat-menu>