@if (product) {
<section class="py-8">
  <div class="max-w-screen-2xl px-4 mx-auto">
    <div class="grid grid-cols-2 gap-8">
      <div class="max-w-screen-xl mx-auto">
         <img class="w-96" src="{{product.pictureUrl}}" alt="product image {{product.name}}"/>
       </div>

           <div>
                <h1 class="text-2xl font-bold text-gray-900">{{product.name}}</h1>
                <p>you have {{quantityInCart}} of this item in your cart</p>
                  <div class="mt-4 items-center flex gap-4">
                <p class="text-3xl font-extrabold text-gray-900">
                {{product.price | currency: "₦"}}
                </p>
                </div>
                   <div class="mt-6 mb-6 gap-4 flex">
                     <!-- disable the button if the quantity in cart already added -->
                                <button [disabled]="quantity == quantityInCart" mat-flat-button class=" btn"
                                (click)="updateCart()"  
                                >
                                              
                                  <!-- match-input-height -->
                                <mat-icon>shopping_cart</mat-icon>
                                  {{getButtonText()}}
                                </button>

                                <mat-form-field appearance="outline" class="flex">
                                <mat-label>Quantity</mat-label>
                                <input matInput min="0" [(ngModel)]="quantity" type="number" placeholder="">
                                </mat-form-field>
                      </div>
                                <mat-divider></mat-divider>
                                <p class="mt-6 text-gray-500">{{product.description}}</p>
                                
             </div>

   </div>
  </div>
</section>
}

