<div>
<h3 class="text-3xl pt-6 text-center mb-3">Filters</h3>
<mat-divider></mat-divider>
<!-- Brand -->
<div class="flex p-4">
      <div class="w-1/2">
      <h4 class="font-semibold text-xl text-primary">Brands</h4>
      <mat-selection-list [(ngModel)]="selectedBrands" [multiple]="true">
      @for (brand of shopService.brands; track $index)
      {
      <mat-list-option [value]="brand">{{brand}}</mat-list-option>
      }
      </mat-selection-list>
      </div>

 <!-- Type start here -->


 <!-- Types start -->
     <div class="w-1/2">
      <h4 class="font-semibold text-xl text-primary">Types</h4>
      <mat-selection-list [(ngModel)]="selectedTypes" [multiple]="true">
                @for (type of shopService.types; track $index)
                 {
                  <mat-list-option [value]="type">{{type}}</mat-list-option>
                }
      </mat-selection-list>
     </div>
  

  <!-- Type end -->

</div>

<div class="flex justify-end p-4">
  <button mat-flat-button (click)="applyFilter()">filter</button>
</div>

</div>
