<div class="flex items-center justify-center min-h-96 bg-gray-400">
                
              <div class="text-center">
               <mat-icon class="text-yellow-400 icon-display">error_outline</mat-icon>
               <h1 class="text-4xl font-bold text-gray-800 mt-4">error</h1> 
               <p class="text-xl text-gray-600">Error occur due to server not be able to fetch data</p>
               <button routerLink="/" class="mt-4" mat-flat-button >Refresh page</button>
              </div>  
</div>
